<!DOCTYPE HTML>
<html>
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div>
        <form action="/category/add" method="POST">
            <input type="text" name="name" placeholder="Введіть назву категорії" />
            <button type="submit">Добавити</button>
        </form>
    </div>
    <div>Список категорій:</div>
    <div>
        <table>
            {{#category}}
            <tr>
                <th><b>{{id}}</b></th>
                <th>{{name}}</th>
                <th>
                    <form action="/category/{{id}}/delete" method="POST">
                        <input type="submit" value="Remove" />
                    </form>
                </th>
            </tr>
            {{/category}}
        </table>
    </div>
</body>
</html>