<html>
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div>
    <form method="post">
        <input type="text" name="name" placeholder="Введіть назву категорії" />
        <button type="submit">Добавити</button>
    </form>
</div>
<div>Список категорій</div>
{{#category}}
    <div>
        <b>{{id}}</b>
        <span>{{name}}</span>
    </div>
{{/category}}
</body>
</html>